@import "compass";

// Variables
$link-color: rgb(66, 147, 192);   // Soft blue
$max-width: 980px;

// General
*
{
   @include box-sizing(border-box);
}

body
{
   background-color: #0F0E0C;  // Off-black
   color: white;
}

.container
{
   margin: 3em auto;
   padding: 1em;
   padding-right: 70px;

   width: $max-width;
}

a, h1, h2, h3
{
   color: $link-color;
}
h1
{
   margin: 0;
}

// Navigation
nav
{
   ul
   {
      @include inline-block-list;

      li
      {
         text-align: center;

         margin: 0 1.85em;
         &:first-child { margin-left: 0; }
         &:last-child { margin-right: 0; }

         a
         {
            @include unstyled-link;
            @include link-colors(white, $link-color, $link-color, white, $link-color);

            padding: 0;
            font-weight: bold;
            font-size: 16px;
         }
      }
   }
}

// Main content
.main
{
   position: relative;

   .logo
   {
      position: absolute;
      top: 0;
      right: -70px;
   }

   .content
   {
      background-color: #FBFBFB;   // Off-white
      color: black;
      padding: 2em 3em;
      font-size: 85%;
      @include clearfix;
   }

   section
   {
      margin-bottom: 4em;
      &:last-child { margin-bottom: 0; }
   }
}

// Banner
.banner
{
   img
   {
      display: block;
      width: 100%;
   }
}

// Lot Layouts
.lot-layouts-image, .map
{
   float: right;
}

// Directions
.map
{
   width: 60%;
   float: right;
   text-align: center;
   margin-left: 2em;
   margin-bottom: 2em;
}
.map img
{
   display: block;
   margin: 0 auto;
   margin-top: 2em;
}

// Features
.feature-list { padding: 0; }
.feature-list > li
{
   @include no-bullet;
   display: inline-block;
   vertical-align: top;
   width: 29%;
   margin: 1em;
}
.feature-list h3
{
   color: black;
   font-size: 100%;
   font-weight: bold;
   text-decoration: underline;
}
.decorator-options
{
   float: right;
}
.decorator-options li
{
   font-weight: bold;
   font-size: 85%;
   margin: 1em 0;
}
.decorator-options h3
{
   color: $link-color;
   font-size: 250%;
   font-family: Qwigley, sans-serif;
   font-weight: normal;
   text-decoration: none;
   margin: 0;
}
.features .key
{
   font-size: 85%;
   font-weight: bold;
}

// Footer
footer
{
   color: $link-color;
   margin-top: 1em;

   .contant-line { float: left; text-align: left; }
   .company-line { float: right; text-align: right; }

   .copyright-line
   {
      color: #333;
      font-size: 85%;
      display: block;
      clear: both;
      text-align: center;
      margin-top: 1em;
   }

   h2
   {
      text-align: right;
      margin: 0;

      font-family: Qwigley, cursive, serif;
      font-weight: normal;
      font-size: 350%;
   }
}

// Smoothly transition to a section when the .current-section class is applied to it.
.smooth-transitions .main section
{
   // Hide all sections by default.
   opacity: 0;
   position: absolute;
   left: -9999em;
   top: -9999em;

   margin-bottom: 0;
}
.smooth-transitions .main section.current-section
{
   // Fade in the current section.
   opacity: 1;
   position: static;
   @include transition(opacity 1s ease-in false);
}
